root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,json,yaml,yml,js,ts,svelte,css,html}]
indent_style = space
indent_size = 2
ij_xml_space_inside_empty_tag = false
